@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './scrollbar.css';

.brand-image {
    @apply border-8 border-[#0652c5] border-double;
    border-right-color: white;
}

.gradient {
    background-color: #d4418e;
    background: linear-gradient(315deg, #242022 0%, #0652c5 74%);
}
